/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
    outline: 1px dotted black;
} */

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 500px;
  width: 600px;
}

#topBox {
  scale: 0.5;
  position: relative;
  bottom: 107px;
  left: 145px;
}

#topLid {
  position: relative;
  scale: 0.5;
  left: 156px;
  bottom: -3px;
  z-index: 1;
  transform-origin: top left;
}

#stack {
  position: relative;
  scale: 0.5;
  left: -175px;
  bottom: 276px;
}

#g1 {
  scale: 0.5;
  position: relative;
  left: 98px;
}

#o1 {
  scale: 0.5;
  position: relative;
  left: 45px;
}

#o2 {
  scale: 0.5;
  position: relative;
  left: -10px;
}

#g2 {
  scale: 0.5;
  position: relative;
  left: -65px;
}

#l {
  scale: 0.5;
  position: relative;
  left: -100px;
  bottom: 4px;
}

#e {
  scale: 0.5;
  position: relative;
  left: 440px;
  bottom: 118px;
}